@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">WebApperoni</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="" alt="Alternate Text" />
</div>


<p onclick="moveVid()">click to move the video below</p>
<div id="container">
    <iframe id="animate" width="100" height="30"
            src="https://www.youtube.com/embed/videoseries?list=RDTu_6kS_Evzc"
            frameborder="0"
            allowfullscreen>
    </iframe>
</div>

